In [1]:
# Import needed libraries 

import pandas as pd 
import os
import datetime
from datetime import timedelta
import numpy as np 
from scipy.signal import argrelextrema
import alpaca_trade_api as tradeapi 
import matplotlib.pyplot as plt 
import matplotlib.dates as mpdates
from mplfinance.original_flavor import candlestick_ohlc
from dotenv import load_dotenv
from itertools import islice

In [2]:
# Load .env file

load_dotenv()

True

In [3]:
# Set Alpaca API key and secret passwords

alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
# Initiate REST API

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [5]:
# Parameters for Stock Data from Alpacas
# Establish time frame (5 minute)

time_frame = "5min"

# Identify what stock symbol is trading

stock_symbol = "QQQ"

# Identify what start date to begin data analysis
# JAN 27 27 2021 GameStop event (GME) are we still doing this?

start_date = pd.Timestamp("2021-02-05", tz="America/New_York").isoformat()

# Identify what end date to finalize data analysis

end_date = pd.Timestamp("2021-02-13", tz="America/New_York").isoformat()

In [6]:
# Function to call daily stock data

def get_stock_data(api, stock_symbol, time_frame, current_date_iso, next_day_date_iso):
    
    # Assuming api.get_bars returns a DataFrame with a 'df' attribute
    
    stock_data = api.get_bars(
        stock_symbol, 
        time_frame, 
        start=current_date_iso, 
        end=next_day_date_iso
        ).df
    
    return stock_data

stock_data = get_stock_data(api, stock_symbol, time_frame, start_date, end_date)

# Displays the information pulled for working through code

stock_data.info()
display(stock_data.head())
display(stock_data.tail())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1092 entries, 2021-02-05 09:00:00+00:00 to 2021-02-12 22:55:00+00:00
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   close        1092 non-null   float64
 1   high         1092 non-null   float64
 2   low          1092 non-null   float64
 3   trade_count  1092 non-null   int64
 4   open         1092 non-null   float64
 5   volume       1092 non-null   int64
 6   vwap         1092 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 68.2 KB

,close,high,low,trade_count,open,volume,vwap
timestamp,,,,,,,
2021-02-05 09:00:00+00:00,330.91,331.16,330.79,23,331.16,2057,330.941799
2021-02-05 09:05:00+00:00,330.90,330.95,330.90,74,330.92,7007,330.914585
2021-02-05 09:10:00+00:00,330.94,331.00,330.93,14,330.93,1753,330.954136
2021-02-05 09:15:00+00:00,330.80,330.98,330.76,46,330.96,10888,330.808653
2021-02-05 09:20:00+00:00,330.84,330.86,330.77,14,330.77,1577,330.795865

,close,high,low,trade_count,open,volume,vwap
timestamp,,,,,,,
2021-02-12 22:35:00+00:00,336.82,336.82,336.82,7,336.82,3293,336.483167
2021-02-12 22:40:00+00:00,336.78,336.80,336.78,5,336.80,1009,336.789316
2021-02-12 22:45:00+00:00,336.80,336.80,336.78,5,336.78,1060,336.789302
2021-02-12 22:50:00+00:00,336.80,336.80,336.80,16,336.80,680,336.793339
2021-02-12 22:55:00+00:00,336.78,336.78,336.78,41,336.78,596,336.743859

In [7]:
# # Function to call daily stock data

# start_date = pd.Timestamp("2021-02-03", tz="America/New_York").isoformat()

# # Identify what end date to finalize data analysis

# end_date = pd.Timestamp("2021-02-04", tz="America/New_York").isoformat()

# def get_stock_data(api, stock_symbol, time_frame, current_date_iso, next_day_date_iso):
    
#     # Assuming api.get_bars returns a DataFrame with a 'df' attribute
    
#     stock_data = api.get_bars(
#         stock_symbol, 
#         time_frame, 
#         start=current_date_iso, 
#         end=next_day_date_iso
#         ).df
    
#     return stock_data

# stock_data_day_1 = get_stock_data(api, stock_symbol, time_frame, start_date, end_date)

# # Displays the information pulled for working through code

# stock_data_day_1.info()
# display(stock_data_day_1.head())
# # display(stock_data.tail())

In [8]:
# Function to prepare daily stock data to identify double top/bottom patterns and prepare for targets
# Includes establishing a polynomial fit and assigning new columns for localized min/max

# Polynomial Degree

polynomial_degree = 75

def polynomial_min_max_fit(stock_data, polynomial_degree):
    
    min_length = len(stock_data.index)
    x_data = np.arange(min_length)

    # Polynomial fitting
    polynomial_coefficients_open = np.polyfit(x_data, stock_data['open'][:min_length], polynomial_degree)
    polynomial_coefficients_high = np.polyfit(x_data, stock_data['high'][:min_length], polynomial_degree)
    polynomial_coefficients_low = np.polyfit(x_data, stock_data['low'][:min_length], polynomial_degree)
    polynomial_coefficients_close = np.polyfit(x_data, stock_data['close'][:min_length], polynomial_degree)

    # Evaluate the polynomial for plotting
    y_polynomial_open = np.polyval(polynomial_coefficients_open, x_data)
    y_polynomial_high = np.polyval(polynomial_coefficients_high, x_data)
    y_polynomial_low = np.polyval(polynomial_coefficients_low, x_data)
    y_polynomial_close = np.polyval(polynomial_coefficients_close, x_data)

    # Identify local extrema for polynomial fit data (minima and maxima)
    local_poly_minima = argrelextrema(y_polynomial_close, np.less, order=5)[0]
    local_poly_maxima = argrelextrema(y_polynomial_close, np.greater, order=5)[0]

    # Convert the close price polynomial fit data into a dataframe
    # This is done for OHLC poly fit data

    poly_df = pd.DataFrame(y_polynomial_open)
    columns = ['poly_fit_open']
    poly_df.columns = columns
    poly_df = poly_df.assign(poly_fit_high = y_polynomial_high)
    poly_df = poly_df.assign(poly_fit_low = y_polynomial_low)
    poly_df = poly_df.assign(poly_fit_close = y_polynomial_close)

    # Reset the index of the original updated ticker dataframe to concat with the polynomial dataframe that does not include a timeseries
    # This will ensure that the indexed intergers of the ploynomial fit align with the time each data point corresponds to

    updated_stock_data = stock_data.reset_index()
    updated_stock_data = pd.concat([updated_stock_data, poly_df], axis='columns', join='inner')

    # Add minima and maxima column to the DataFrame

    updated_stock_data["minima"] = 0
    updated_stock_data["maxima"] = 0

    # Mark rows with local minima as 1 in the 'minima' column

    for index in local_poly_minima:
        updated_stock_data.at[index, 'minima'] = -1

    for index in local_poly_maxima:
        updated_stock_data.at[index, "maxima"] = 1

    # Create Target Columns - Double Top Target & Double Bottom Target
        
    updated_stock_data["dbl_top_target"] = 0
    updated_stock_data["dbl_bot_target"] = 0

    
    # del poly_df
    # del x_data
    # del local_poly_maxima
    # del local_poly_minima
    # del min_length
    # del columns
    
    #return updated_stock_data, min_length, y_polynomial_close, local_poly_minima, local_poly_maxima
    print("FINISHED")
    return updated_stock_data

#updated_stock_data, min_length, y_polynomial_close, local_poly_minima, local_poly_maxima = polynomial_min_max_fit(stock_data,polynomial_degree)

updated_stock_data = polynomial_min_max_fit(stock_data, polynomial_degree)

FINISHED

/Users/ebrown/anaconda3/envs/machine_learning/lib/python3.10/site-packages/numpy/lib/polynomial.py:667: RuntimeWarning: overflow encountered in multiply
  scale = NX.sqrt((lhs*lhs).sum(axis=0))
/Users/ebrown/anaconda3/envs/machine_learning/lib/python3.10/site-packages/numpy/core/_methods.py:49: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/var/folders/sr/78cv2dx14kgdcwtf90634z580000gn/T/ipykernel_7889/3767615901.py:14: RankWarning: Polyfit may be poorly conditioned
  polynomial_coefficients_open = np.polyfit(x_data, stock_data['open'][:min_length], polynomial_degree)
/var/folders/sr/78cv2dx14kgdcwtf90634z580000gn/T/ipykernel_7889/3767615901.py:15: RankWarning: Polyfit may be poorly conditioned
  polynomial_coefficients_high = np.polyfit(x_data, stock_data['high'][:min_length], polynomial_degree)
/var/folders/sr/78cv2dx14kgdcwtf90634z580000gn/T/ipykernel_7889/3767615901.py:16: RankWarning: Polyfit may be poorly conditioned
  polynomial_coefficients_low = np.polyfit(x_data, stock_data['low'][:min_length], polynomial_degree)
/var/folders/sr/78cv2dx14kgdcwtf90634z580000gn/T/ipykernel_7889/3767615901.py:17: RankWarning: Polyfit may be poorly conditioned
  polynomial_coefficients_close = np.polyfit(x_data, stock_data['close'][:min_length], polynomial_degree)

In [9]:
updated_stock_data

,timestamp,close,high,low,trade_count,open,volume,vwap,poly_fit_open,poly_fit_high,poly_fit_low,poly_fit_close,minima,maxima,dbl_top_target,dbl_bot_target
0,2021-02-05 09:00:00+00:00,330.91,331.16,330.79,23,331.16,2057,330.941799,330.874627,330.938282,330.732764,330.783934,0,0,0,0
1,2021-02-05 09:05:00+00:00,330.90,330.95,330.90,74,330.92,7007,330.914585,330.897766,330.963147,330.770500,330.827444,0,0,0,0
2,2021-02-05 09:10:00+00:00,330.94,331.00,330.93,14,330.93,1753,330.954136,330.923454,330.989904,330.809565,330.870928,0,0,0,0
3,2021-02-05 09:15:00+00:00,330.80,330.98,330.76,46,330.96,10888,330.808653,330.951107,331.018071,330.849425,330.914025,0,0,0,0
4,2021-02-05 09:20:00+00:00,330.84,330.86,330.77,14,330.77,1577,330.795865,330.980199,331.047211,330.889602,330.956414,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,2021-02-12 22:35:00+00:00,336.82,336.82,336.82,7,336.82,3293,336.483167,336.568662,336.584987,336.535594,336.575166,-1,0,0,0
1088,2021-02-12 22:40:00+00:00,336.78,336.80,336.78,5,336.80,1009,336.789316,336.576253,336.596020,336.554939,336.590755,0,0,0,0
1089,2021-02-12 22:45:00+00:00,336.80,336.80,336.78,5,336.78,1060,336.789302,336.643151,336.662580,336.637328,336.661606,0,0,0,0
1090,2021-02-12 22:50:00+00:00,336.80,336.80,336.80,16,336.80,680,336.793339,336.794648,336.806274,336.809129,336.809359,0,0,0,0
1091,2021-02-12 22:55:00+00:00,336.78,336.78,336.78,41,336.78,596,336.743859,337.061685,337.053150,337.102687,337.060163,0,0,0,0

In [10]:
# # Plot data
# # Plot the stock data and identified minima

# plt.figure(figsize=(15, 5))
# plt.plot(stock_data.index, stock_data["close"], label='Close Prices', alpha=0.7)

# # # Plot polynomial fit

# plt.plot(stock_data.index[:min_length], y_polynomial_close, '-', markersize=1.0, color='black', alpha=0.9, label='Polynomial Fit')

# # # Plot red dots at local minima and blue dots at local maxima

# plt.scatter(stock_data.index[local_poly_minima], y_polynomial_close[local_poly_minima], color='red', label='Local Minima')
# plt.scatter(stock_data.index[local_poly_maxima],y_polynomial_close[local_poly_maxima], color="blue", label = "Local Maxima")

In [11]:
# Define the time independent DF for double top/bottom identification
# Timestamp remains a column, but can identify pattern from peak to peak immediately

def time_independent_data(updated_stock_data):

    

    time_independent_df = []
    time_independent_df = pd.DataFrame(time_independent_df, columns = ["timestamp","close","high","low","trade_count","open","volume","vwap","poly_fit_open","poly_fit_high","poly_fit_low","poly_fit_close","minima","maxima","dbl_top_target","dbl_bot_target"])

    for index, row in islice(updated_stock_data.iterrows(), 0, None):

        # Assign to rows only those that contain local min or max

        if (updated_stock_data.at[index,"minima"] == -1):
            time_independent_df.loc[index] = row
            a = updated_stock_data.iloc[index]["poly_fit_close"]
        elif (updated_stock_data.at[index,"maxima"] == 1):
            time_independent_df.loc[index] = row
            a = updated_stock_data.iloc[index]["poly_fit_close"]

    # Reset time dependent index
    # Set new time independent index

    time_independent_df.reset_index(inplace = True)
    time_independent_df.rename(columns={"index":"time_dependent_index"}, inplace = True)

    return time_independent_df

time_independent_df = time_independent_data(updated_stock_data)
time_independent_df.head(10)

,time_dependent_index,timestamp,close,high,low,trade_count,open,volume,vwap,poly_fit_open,poly_fit_high,poly_fit_low,poly_fit_close,minima,maxima,dbl_top_target,dbl_bot_target
0,25,2021-02-05 11:05:00+00:00,331.5,331.6,331.42,90,331.42,23105,331.503387,331.409022,331.463242,331.369839,331.417299,0,1,0,0
1,77,2021-02-05 15:25:00+00:00,330.195,330.33,329.82,1879,329.89,192058,330.145647,330.775429,330.957627,330.587065,330.773897,-1,0,0,0
2,261,2021-02-08 16:55:00+00:00,332.24,332.2781,332.08,1181,332.1575,160314,332.179842,332.765255,332.908491,332.605546,332.764949,0,1,0,0
3,277,2021-02-08 18:15:00+00:00,332.473,332.51,332.15,1128,332.22,110552,332.35011,332.759303,332.89787,332.609853,332.762848,-1,0,0,0
4,414,2021-02-09 14:00:00+00:00,332.81,332.9,332.78,200,332.89,19729,332.824856,333.514629,333.619938,333.413077,333.515377,0,1,0,0
5,453,2021-02-09 17:15:00+00:00,333.855,334.09,333.85,1291,334.02,143807,333.966563,333.465211,333.613649,333.310859,333.466061,-1,0,0,0
6,562,2021-02-10 10:20:00+00:00,334.95,334.97,334.94,7,334.94,536,334.959758,334.658324,334.700615,334.607931,334.656416,0,1,0,0
7,674,2021-02-10 19:40:00+00:00,333.49,333.67,333.4,1897,333.4,231856,333.554606,332.232722,332.446257,332.023842,332.231096,-1,0,0,0
8,784,2021-02-11 13:05:00+00:00,334.25,334.25,334.17,78,334.17,11054,334.21183,334.215009,334.334055,334.091933,334.20771,0,1,0,0
9,853,2021-02-11 18:50:00+00:00,334.062,334.25,334.061,606,334.1199,63496,334.160637,333.901202,334.083074,333.669465,333.896531,-1,0,0,0

In [12]:
# Function to identify daily double top/bottom patterns
# Inherently there should only be 1 identification of the pattern as it is considered a trend reversal pattern
# The loop will break once the pattern is identified

def identify_double_patterns(time_independent_df, updated_stock_data):

    # Initialize variables to identify double top/bottom patterns
    # Time dependent variable x_0 will always begin at a local min/max which also coincides
    # With the start of a trend into a potential double top/bottom
    
    x_0 = 0

    # Initiation of double top/bottom variable
    
    a = 0

    # First peak/valley of double top/bottom pattern
    
    b = 0

    # Trough/peak of double top/bottom pattern

    c = 0

    # Second peak/vallye of double top/bottom pattern
    
    d = 0

    # Trigger of double top/bottom pattern
    
    e = 0

    # Final time increment to finalize and trigger double top signal
    
    x_f = 0

    # Read through code to identify double top/bottom and assign to target columns.

    for index, row in islice(time_independent_df.iterrows(), 0, len(time_independent_df) - 4):

        # Check for double top
        # If found then assigns x_f final time for writing to targets in time dependent dataframe

        if (time_independent_df.at[index,"minima"] == -1):
            a = time_independent_df.iloc[index]["poly_fit_close"]
            b = time_independent_df.iloc[index + 1]["poly_fit_close"]
            c = time_independent_df.iloc[index + 2]["poly_fit_close"]
            d = time_independent_df.iloc[index + 3]["poly_fit_close"]
            e = time_independent_df.iloc[index + 4]["poly_fit_close"]
            x_0 = time_independent_df.iloc[index]["time_dependent_index"]

            if (time_independent_df.iloc[index + 1]["poly_fit_low"]) < d < (time_independent_df.iloc[index + 1]["poly_fit_high"]) and (e < c):
                x_f = time_independent_df.iloc[index + 4]["time_dependent_index"]
                while (x_0 < x_f + 1):
                    updated_stock_data.at[x_0, "dbl_top_target"] = 1
                    x_0 = x_0 + 1
                break

        # Check for double bottom
        # If found then assigns x_f final time for writing to targets in time dependent dataframe
            
        elif (time_independent_df.at[index,"maxima"] == 1):
            a = time_independent_df.iloc[index]["poly_fit_close"]
            b = time_independent_df.iloc[index + 1]["poly_fit_close"]
            c = time_independent_df.iloc[index + 2]["poly_fit_close"]
            d = time_independent_df.iloc[index + 3]["poly_fit_close"]
            e = time_independent_df.iloc[index + 4]["poly_fit_close"]
            x_0 = time_independent_df.iloc[index]["time_dependent_index"] 

            if (time_independent_df.iloc[index+1]["poly_fit_low"]) < d < (time_independent_df.iloc[index+1]["poly_fit_high"]) and (e > c):
                x_f_min = time_independent_df.iloc[index + 4]["time_dependent_index"]
                while (x_0 < x_f + 1):
                    updated_stock_data.at[x_0, "dbl_bot_target"] = 1
                    x_0 = x_0 + 1
                    
                break
            
    return updated_stock_data, x_f

updated_stock_data, x_f = identify_double_patterns(time_independent_df,updated_stock_data)

In [13]:
# # Data Checking

# display(updated_stock_data.head(20))
# print(updated_stock_data.loc[x_f])

In [14]:
# Loop to collect and assess daily data one day at a time

current_date = datetime.datetime.fromisoformat(start_date)
next_day_date = current_date + datetime.timedelta(days=1)

master_df = {
    'timestamp': [],  # List of timestamps
    'close': [],      # List of close prices
    'high': [],       # List of high prices
    'low': [],        # List of low prices
    'trade_count': [], # List of trade counts
    'open': [],       # List of open prices
    'volume': [],     # List of volumes
    'vwap': [],       # List of volume-weighted average prices
    'poly_fit_open': [],    # List of polynomial fit open prices
    'poly_fit_high': [],    # List of polynomial fit high prices
    'poly_fit_low': [],     # List of polynomial fit low prices
    'poly_fit_close': [],   # List of polynomial fit close prices
    'minima': [],           # List of minima
    'maxima': [],           # List of maxima
    'dbl_top_target': [],   # List of double top targets
    'dbl_bot_target': []    # List of double bottom targets
}

daily_dataframes = []

master_df = pd.DataFrame(master_df)

print(current_date)
print(next_day_date)

while current_date <= pd.Timestamp(end_date):

    # Convert current_date to ISO format for API call

    current_date_iso = current_date.isoformat()

    # Calculate the next day

    next_day_date = current_date + datetime.timedelta(days=1)

    # Convert next_day_date to ISO format for API call

    next_day_date_iso = next_day_date.isoformat()

    # Fetch stock data for the current day

    stock_data = get_stock_data(api, stock_symbol, time_frame, current_date_iso, next_day_date_iso)
    
    if len(stock_data) == 0:
        next_day_date = current_date + datetime.timedelta(days=1)
        current_date = current_date + datetime.timedelta(days=1)
    
    stock_data = get_stock_data(api, stock_symbol, time_frame, current_date_iso, next_day_date_iso)
    # display(stock_data.head())
    updated_stock_data = polynomial_min_max_fit(stock_data, polynomial_degree)
    
    # print('FINISHED_2')

#, min_length, y_polynomial_close, local_poly_minima, local_poly_maxima
    time_independent_df = time_independent_data(updated_stock_data)

    updated_stock_data, x_f = identify_double_patterns(time_independent_df, updated_stock_data)

    # Perform your analysis or call your functions here
    # e.g., identify_double_patterns(time_independent_df, updated_stock_data)

    daily_dataframes.append(updated_stock_data)

    del stock_data
    del updated_stock_data
    del time_independent_df

    # Increment to the next day
    
    current_date = next_day_date

    master_df = pd.concat(daily_dataframes, ignore_index=True)

2021-02-05 00:00:00-05:00
2021-02-06 00:00:00-05:00
FINISHED

/Users/ebrown/anaconda3/envs/machine_learning/lib/python3.10/site-packages/numpy/lib/polynomial.py:667: RuntimeWarning: overflow encountered in multiply
  scale = NX.sqrt((lhs*lhs).sum(axis=0))
/Users/ebrown/anaconda3/envs/machine_learning/lib/python3.10/site-packages/numpy/core/_methods.py:49: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/var/folders/sr/78cv2dx14kgdcwtf90634z580000gn/T/ipykernel_7889/3767615901.py:14: RankWarning: Polyfit may be poorly conditioned
  polynomial_coefficients_open = np.polyfit(x_data, stock_data['open'][:min_length], polynomial_degree)
/var/folders/sr/78cv2dx14kgdcwtf90634z580000gn/T/ipykernel_7889/3767615901.py:15: RankWarning: Polyfit may be poorly conditioned
  polynomial_coefficients_high = np.polyfit(x_data, stock_data['high'][:min_length], polynomial_degree)
/var/folders/sr/78cv2dx14kgdcwtf90634z580000gn/T/ipykernel_7889/3767615901.py:16: RankWarning: Polyfit may be poorly conditioned
  polynomial_coefficients_low = np.polyfit(x_data, stock_data['low'][:min_length], polynomial_degree)
/var/folders/sr/78cv2dx14kgdcwtf90634z580000gn/T/ipykernel_7889/3767615901.py:17: RankWarning: Polyfit may be poorly conditioned
  polynomial_coefficients_close = np.polyfit(x_data, stock_data['close'][:min_length], polynomial_degree)

KeyError: 'open'

In [ ]:
master_df.info()
print(len(master_df))
display(master_df.head(50))
display(master_df.tail(50))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       757 non-null    datetime64[ns, UTC]
 1   close           757 non-null    float64
 2   high            757 non-null    float64
 3   low             757 non-null    float64
 4   trade_count     757 non-null    int64
 5   open            757 non-null    float64
 6   volume          757 non-null    int64
 7   vwap            757 non-null    float64
 8   poly_fit_open   757 non-null    float64
 9   poly_fit_high   757 non-null    float64
 10  poly_fit_low    757 non-null    float64
 11  poly_fit_close  757 non-null    float64
 12  minima          757 non-null    int64
 13  maxima          757 non-null    int64
 14  dbl_top_target  757 non-null    int64
 15  dbl_bot_target  757 non-null    int64
dtypes: datetime64[ns, UTC](1), float64(9), int64(6)
memory usage: 94.8 KB
757

,timestamp,close,high,low,trade_count,open,volume,vwap,poly_fit_open,poly_fit_high,poly_fit_low,poly_fit_close,minima,maxima,dbl_top_target,dbl_bot_target
0,2021-02-08 09:00:00+00:00,332.52,332.60,332.50,43,332.53,7077,332.551844,332.489847,332.608321,332.437811,332.525402,0,0,0,0
1,2021-02-08 09:05:00+00:00,332.58,332.62,332.47,26,332.53,5163,332.501669,332.639382,332.655588,332.628992,332.617645,0,1,0,0
2,2021-02-08 09:10:00+00:00,332.63,332.67,332.63,7,332.64,2992,332.638663,332.617743,332.629280,332.596660,332.595357,0,0,0,0
3,2021-02-08 09:15:00+00:00,332.60,332.65,332.56,15,332.60,2065,332.591991,332.547124,332.590469,332.500565,332.547376,0,0,0,0
4,2021-02-08 09:20:00+00:00,332.62,332.62,332.57,8,332.57,783,332.600204,332.488301,332.566537,332.420592,332.515015,0,0,0,0
5,2021-02-08 09:25:00+00:00,332.35,332.50,332.33,20,332.50,2942,332.450693,332.463852,332.564786,332.386712,332.510909,-1,0,0,0
6,2021-02-08 09:30:00+00:00,332.50,332.50,332.22,35,332.28,3173,332.361550,332.474574,332.581847,332.400230,332.532125,0,0,0,0
7,2021-02-08 09:35:00+00:00,332.58,332.59,332.52,14,332.53,3389,332.526117,332.510645,332.609905,332.448311,332.568886,0,0,0,0
8,2021-02-08 09:40:00+00:00,332.61,332.61,332.54,11,332.59,1287,332.580349,332.558838,332.640541,332.513419,332.610032,0,0,0,0
9,2021-02-08 09:45:00+00:00,332.59,332.67,332.59,14,332.65,3745,332.630774,332.606807,332.666861,332.578982,332.646104,0,0,0,0
10,2021-02-08 09:50:00+00:00,332.75,332.77,332.66,25,332.66,2873,332.744929,332.645305,332.684434,332.632363,332.670771,0,0,0,0
11,2021-02-08 09:55:00+00:00,332.67,332.67,332.62,4,332.62,401,332.657531,332.668958,332.691440,332.665970,332.681152,0,1,0,0
12,2021-02-08 10:00:00+00:00,332.66,332.66,332.63,7,332.63,1206,332.634113,332.676148,332.688339,332.677161,332.677447,0,0,0,0
13,2021-02-08 10:05:00+00:00,332.70,332.72,332.63,14,332.63,1498,332.690120,332.668341,332.677287,332.667433,332.662216,0,0,0,0
14,2021-02-08 10:10:00+00:00,332.60,332.70,332.60,7,332.69,443,332.642980,332.649186,332.661475,332.641273,332.639510,0,0,0,0
15,2021-02-08 10:15:00+00:00,332.62,332.62,332.60,6,332.61,1115,332.603856,332.623545,332.644483,332.604915,332.614013,0,0,0,0
16,2021-02-08 10:20:00+00:00,332.67,332.67,332.67,1,332.67,200,332.670000,332.596612,332.629730,332.565184,332.590305,0,0,0,0
17,2021-02-08 10:25:00+00:00,332.70,332.70,332.60,12,332.60,1242,332.634243,332.573186,332.620061,332.528530,332.572289,0,0,0,0
18,2021-02-08 10:30:00+00:00,332.53,332.60,332.53,12,332.60,1641,332.556807,332.557133,332.617467,332.500304,332.562803,-1,0,0,0
19,2021-02-08 10:35:00+00:00,332.51,332.63,332.51,12,332.60,1119,332.589830,332.551063,332.622954,332.484292,332.563417,0,0,0,0
20,2021-02-08 10:40:00+00:00,332.60,332.61,332.53,8,332.53,608,332.566908,332.556180,332.636528,332.482496,332.574397,0,0,0,0
21,2021-02-08 10:45:00+00:00,332.58,332.58,332.58,4,332.58,212,332.580283,332.572315,332.657289,332.495129,332.594809,0,0,0,0
22,2021-02-08 10:50:00+00:00,332.63,332.78,332.55,23,332.66,2261,332.643353,332.598079,332.683591,332.520785,332.622718,0,0,0,0
23,2021-02-08 10:55:00+00:00,332.54,332.67,332.43,23,332.67,3342,332.558160,332.631107,332.713259,332.556732,332.655458,0,0,0,0
24,2021-02-08 11:00:00+00:00,332.56,332.58,332.46,12,332.51,1159,332.512804,332.668371,332.743821,332.599291,332.689941,0,0,0,0
25,2021-02-08 11:05:00+00:00,332.56,332.58,332.51,7,332.58,811,332.561110,332.706501,332.772746,332.644251,332.722959,0,0,0,0
26,2021-02-08 11:10:00+00:00,332.75,332.75,332.52,9,332.52,2761,332.657262,332.742112,332.797659,332.687275,332.751476,0,0,0,0
27,2021-02-08 11:15:00+00:00,332.84,332.84,332.71,5,332.71,911,332.768870,332.772087,332.816530,332.724286,332.772870,0,0,0,0
28,2021-02-08 11:20:00+00:00,332.84,332.92,332.84,14,332.90,3029,332.888709,332.793824,332.827814,332.751782,332.785127,0,0,0,0
29,2021-02-08 11:25:00+00:00,332.84,332.86,332.84,6,332.86,1312,332.841494,332.805412,332.830546,332.767088,332.786970,0,1,0,0
30,2021-02-08 11:35:00+00:00,332.91,333.01,332.85,47,332.91,4337,332.918271,332.805746,332.824390,332.768517,332.777926,0,0,0,0
31,2021-02-08 11:40:00+00:00,332.79,332.87,332.78,46,332.84,15924,332.849181,332.794573,332.809636,332.755454,332.758324,0,0,0,0
32,2021-02-08 11:45:00+00:00,332.83,332.86,332.83,5,332.85,601,332.850000,332.772470,332.787156,332.728348,332.729249,0,0,0,0
33,2021-02-08 11:50:00+00:00,332.76,332.84,332.76,22,332.79,3494,332.794196,332.740775,332.758323,332.688640,332.692432,0,0,0,0
34,2021-02-08 11:55:00+00:00,332.80,332.85,332.78,16,332.83,3668,332.802996,332.701463,332.724905,332.638623,332.650116,0,0,0,0
35,2021-02-08 12:00:00+00:00,332.58,332.81,332.46,174,332.79,21235,332.593066,332.656991,332.688940,332.581256,332.604890,0,0,0,0
36,2021-02-08 12:05:00+00:00,332.52,332.61,332.50,95,332.60,15221,332.533653,332.610120,332.652598,332.519950,332.559513,0,0,0,0
37,2021-02-08 12:10:00+00:00,332.38,332.55,332.38,82,332.53,5491,332.465773,332.563731,332.618048,332.458330,332.516734,0,0,0,0
38,2021-02-08 12:15:00+00:00,332.40,332.48,332.38,51,332.40,3640,332.396385,332.520642,332.587329,332.400006,332.479127,0,0,0,0
39,2021-02-08 12:20:00+00:00,332.39,332.42,332.37,64,332.42,9671,332.395247,332.483436,332.562237,332.348350,332.448942,0,0,0,0
40,2021-02-08 12:25:00+00:00,332.34,332.36,332.28,42,332.36,4543,332.317112,332.454318,332.544237,332.306305,332.427981,0,0,0,0
41,2021-02-08 12:30:00+00:00,332.33,332.36,332.25,64,332.27,4574,332.313769,332.435000,332.534389,332.276224,332.417513,-1,0,0,0
42,2021-02-08 12:35:00+00:00,332.36,332.39,332.21,71,332.36,6440,332.296338,332.426617,332.533315,332.259757,332.418217,0,0,0,0
43,2021-02-08 12:40:00+00:00,332.35,332.44,332.35,50,332.43,3870,332.413031,332.429687,332.541178,332.257779,332.430167,0,0,0,0
44,2021-02-08 12:45:00+00:00,332.48,332.49,332.34,67,332.37,15291,332.404681,332.444104,332.557702,332.270369,332.452851,0,0,0,0
45,2021-02-08 12:50:00+00:00,332.59,332.59,332.49,40,332.49,3609,332.566680,332.469173,332.582206,332.296836,332.485224,0,0,0,0
46,2021-02-08 12:55:00+00:00,332.62,332.65,332.56,67,332.58,13082,332.599151,332.503667,332.613663,332.335784,332.525783,0,0,0,0
47,2021-02-08 13:00:00+00:00,332.59,333.40,331.36,267,332.81,34432,332.494808,332.545925,332.650777,332.385217,332.572674,0,0,0,0
48,2021-02-08 13:05:00+00:00,332.63,332.70,332.56,58,332.59,5816,332.626567,332.593957,332.692064,332.442671,332.623807,0,0,0,0
49,2021-02-08 13:10:00+00:00,332.70,332.70,332.56,83,332.60,11256,332.645218,332.645572,332.735951,332.505368,332.676982,0,0,0,0

,timestamp,close,high,low,trade_count,open,volume,vwap,poly_fit_open,poly_fit_high,poly_fit_low,poly_fit_close,minima,maxima,dbl_top_target,dbl_bot_target
707,2021-02-11 20:35:00+00:00,333.7600,334.0550,333.7100,1187,334.0109,336420,333.161134,334.182106,334.434529,334.058591,334.239647,0,0,0,0
708,2021-02-11 20:40:00+00:00,333.7500,334.1000,333.5900,2107,333.7500,296751,333.843046,334.224324,334.481995,334.075942,334.263805,0,0,0,0
709,2021-02-11 20:45:00+00:00,334.1762,334.4500,333.7250,2652,333.7500,353254,334.179762,334.252480,334.509872,334.079482,334.274630,0,0,0,0
710,2021-02-11 20:50:00+00:00,334.3800,334.4300,333.9250,3058,334.1600,441740,334.138866,334.270249,334.521083,334.075831,334.277072,0,0,0,0
711,2021-02-11 20:55:00+00:00,334.5600,334.7900,334.2700,5252,334.4200,936499,334.095919,334.281958,334.519666,334.071966,334.276405,0,0,0,0
712,2021-02-11 21:00:00+00:00,334.4900,334.6600,334.4400,322,334.5700,492903,334.562730,334.291869,334.510149,334.074176,334.277406,0,0,0,0
713,2021-02-11 21:05:00+00:00,334.2700,334.5200,334.1700,281,334.5200,543243,334.498125,334.303462,334.496871,334.087096,334.283602,0,0,0,0
714,2021-02-11 21:10:00+00:00,334.4200,334.6188,334.2100,200,334.3600,86373,334.509941,334.318832,334.483349,334.112938,334.296697,0,0,0,0
715,2021-02-11 21:15:00+00:00,334.5800,334.6100,334.2700,123,334.3810,41755,334.491788,334.338310,334.471792,334.151068,334.316261,0,0,0,0
716,2021-02-11 21:20:00+00:00,334.5000,334.6000,334.4400,48,334.5800,9810,334.559693,334.360374,334.462844,334.198021,334.339787,0,0,0,0
717,2021-02-11 21:25:00+00:00,334.4800,334.5100,334.4800,15,334.5100,5507,334.491124,334.381903,334.455600,334.247979,334.363097,0,0,0,0
718,2021-02-11 21:30:00+00:00,334.3300,334.4900,334.2900,108,334.4700,25709,334.400857,334.398751,334.447926,334.293704,334.381106,0,0,0,0
719,2021-02-11 21:35:00+00:00,334.2500,334.4500,334.2400,36,334.4500,4617,334.370044,334.406579,334.437027,334.327794,334.388810,0,1,0,0
720,2021-02-11 21:40:00+00:00,334.1700,334.2600,334.1400,85,334.2600,14111,334.198749,334.401812,334.420196,334.344071,334.382366,0,0,0,0
721,2021-02-11 21:45:00+00:00,334.1800,334.2000,334.1500,45,334.1600,15086,334.172804,334.382568,334.395597,334.338897,334.360066,0,0,0,0
722,2021-02-11 21:50:00+00:00,334.1900,334.2300,334.1100,33,334.1400,2538,334.163006,334.349345,334.362937,334.312131,334.322993,0,0,0,0
723,2021-02-11 21:55:00+00:00,334.1399,334.1800,334.1100,21,334.1800,3699,334.132928,334.305327,334.323882,334.267513,334.275204,0,0,0,0
724,2021-02-11 22:00:00+00:00,334.2200,334.2400,334.1300,14,334.1300,4448,334.446140,334.256157,334.282051,334.212332,334.223319,0,0,0,0
725,2021-02-11 22:05:00+00:00,334.1100,334.2000,334.1100,14,334.2000,10413,334.113728,334.209163,334.242595,334.156326,334.175502,0,0,0,0
726,2021-02-11 22:15:00+00:00,334.2900,334.3200,334.2700,32,334.3100,7157,334.288881,334.172100,334.211316,334.109951,334.139979,0,0,0,0
727,2021-02-11 22:20:00+00:00,334.4000,334.4000,334.3100,15,334.3100,1455,334.365650,334.151608,334.193501,334.082290,334.123335,-1,0,0,0
728,2021-02-11 22:25:00+00:00,334.4500,334.4500,334.3800,19,334.4000,2599,334.413209,334.151708,334.192686,334.079043,334.128918,0,0,0,0
729,2021-02-11 22:30:00+00:00,334.2100,334.3200,334.2100,14,334.3200,2030,334.257054,334.172665,334.209610,334.101023,334.155799,0,0,0,0
730,2021-02-11 22:35:00+00:00,334.1500,334.2100,334.1500,9,334.2100,1603,334.174828,334.210584,334.241706,334.143669,334.198594,0,0,0,0
731,2021-02-11 22:50:00+00:00,334.1500,334.1700,334.1500,11,334.1700,2111,334.165054,334.257986,334.283314,334.197813,334.248372,0,0,0,0
732,2021-02-11 22:55:00+00:00,334.1600,334.2300,334.1600,4,334.2300,1337,334.167233,334.305321,334.326731,334.251772,334.294653,0,0,0,0
733,2021-02-11 23:00:00+00:00,334.0000,334.1600,333.9200,51,334.1600,11582,333.994226,334.343349,334.363963,334.294374,334.328107,0,0,0,0
734,2021-02-11 23:05:00+00:00,334.3100,334.3300,334.2300,18,334.2300,2180,334.272119,334.365690,334.388870,334.318267,334.343380,0,0,0,0
735,2021-02-11 23:10:00+00:00,334.2900,334.3400,334.2800,24,334.3300,4476,334.319953,334.370954,334.399081,334.322530,334.341218,0,0,0,0
736,2021-02-11 23:15:00+00:00,334.4900,334.4900,334.4000,59,334.4000,18487,334.441981,334.363706,334.397143,334.313647,334.328981,0,0,0,0
737,2021-02-11 23:20:00+00:00,334.5000,334.5600,334.5000,98,334.5000,23538,334.518909,334.353536,334.390256,334.304072,334.319136,0,0,0,0
738,2021-02-11 23:25:00+00:00,334.4300,334.4400,334.4300,9,334.4400,712,334.434326,334.352357,334.388501,334.308402,334.325575,0,0,0,0
739,2021-02-11 23:30:00+00:00,334.3800,334.4600,334.3800,6,334.4600,1352,334.394542,334.370309,334.401721,334.337920,334.358649,0,0,0,0
740,2021-02-11 23:35:00+00:00,334.3800,334.3800,334.3600,10,334.3600,2513,334.370931,334.411592,334.435953,334.395334,334.420504,0,0,0,0
741,2021-02-11 23:40:00+00:00,334.4400,334.4500,334.4400,3,334.4500,901,334.445560,334.472040,334.490786,334.472035,334.502633,0,0,0,0
742,2021-02-11 23:45:00+00:00,334.5500,334.5500,334.5300,27,334.5300,7384,334.541775,334.539882,334.558875,334.549841,334.587558,0,0,0,0
743,2021-02-11 23:50:00+00:00,334.5500,334.5500,334.5000,21,334.5400,3215,334.529092,334.600355,334.628382,334.608034,334.655022,0,0,0,0
744,2021-02-11 23:55:00+00:00,334.7000,334.7000,334.5500,66,334.5500,18512,334.585442,334.642898,334.687833,334.633652,334.691208,0,0,0,0
745,2021-02-12 00:00:00+00:00,334.6400,334.6600,334.6400,10,334.6600,1505,334.658040,334.667476,334.731143,334.630289,334.696540,0,0,0,0
746,2021-02-12 00:05:00+00:00,334.8200,334.8300,334.6800,52,334.7400,6969,334.772656,334.685216,334.759541,334.618865,334.686865,0,0,0,0
747,2021-02-12 00:10:00+00:00,334.8000,334.9000,334.8000,57,334.8300,7112,334.858906,334.710122,334.777759,334.625623,334.683787,0,0,0,0
748,2021-02-12 00:15:00+00:00,334.6800,334.8000,334.6800,45,334.8000,8800,334.722398,334.743693,334.785336,334.659938,334.696530,0,0,0,0
749,2021-02-12 00:20:00+00:00,334.6300,334.6800,334.5800,37,334.6600,7075,334.633966,334.763206,334.770084,334.696119,334.707364,0,1,0,0
750,2021-02-12 00:25:00+00:00,334.5899,334.6600,334.5899,3,334.6600,272,334.632022,334.731634,334.715462,334.683156,334.680084,0,0,0,0
751,2021-02-12 00:30:00+00:00,334.5900,334.6100,334.5900,4,334.6100,423,334.601206,334.640504,334.629120,334.598585,334.604035,0,0,0,0
752,2021-02-12 00:35:00+00:00,334.6700,334.6700,334.6200,23,334.6700,3950,334.651286,334.561275,334.573159,334.516353,334.545759,0,0,0,0
753,2021-02-12 00:40:00+00:00,334.6400,334.6500,334.6400,6,334.6500,1378,334.639652,334.614911,334.630026,334.573872,334.610411,0,0,0,0
754,2021-02-12 00:45:00+00:00,334.5800,334.6400,334.5500,30,334.6400,3293,334.583346,334.743698,334.725510,334.693407,334.699454,0,0,0,0
755,2021-02-12 00:50:00+00:00,334.3900,334.5300,334.3899,29,334.5300,3882,334.442686,334.480424,334.487144,334.322528,334.329302,-1,0,0,0
756,2021-02-12 00:55:00+00:00,334.5000,334.5000,334.4000,85,334.4000,17688,334.444686,334.407628,334.506824,334.410413,334.509610,0,0,0,0

In [ ]:
print(current_date)

2021-02-12 00:00:00-05:00