In [1]:
# Import needed libraries 
import pandas as pd 
import os
from datetime import timedelta
import numpy as np 
from scipy.signal import argrelextrema
import alpaca_trade_api as tradeapi 
import matplotlib.pyplot as plt 
import matplotlib.dates as mpdates
from mplfinance.original_flavor import candlestick_ohlc
from dotenv import load_dotenv

In [2]:
#Load .env environment variables
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
# Set Alpaca API key and secret
APCA_API_KEY_ID = os.getenv("APCA_API_KEY")
APCA_API_SECRET_KEY = os.getenv("APCA_SECRET_KEY")
ALPACA_ENDPOINT_KEY = os.getenv("ALPACA_END_POINT")

#ensuring api keys are correct 
#print(os.getenv("APCA_API_KEY_ID"))
#print(os.getenv("APCA_API_SECRET_KEY"))
#print(os.getenv("ALPACA_ENDPOINT_KEY"))

# Create the Alpaca API object
api = tradeapi.REST(APCA_API_KEY_ID, APCA_API_SECRET_KEY, api_version="v2",base_url= ALPACA_ENDPOINT_KEY)

In [4]:
# Set the ticker
ticker = "QQQ"

# Set timeframe to "1 Minute"
timeframe = "1Min"

# Set start and end datetimes of 3 years from Today
start_date = pd.Timestamp("2021-01-21", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-01-21", tz="America/New_York").isoformat()

# Get 3 years worth of historical data for TSLA
ticker_data = api.get_bars(
    ticker,
    timeframe,
    start=start_date,
    end=end_date,
).df

display(ticker_data.head())
display(ticker_data.tail())

sleep 3 seconds and retrying https://data.alpaca.markets/v2/stocks/QQQ/bars 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v2/stocks/QQQ/bars 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v2/stocks/QQQ/bars 3 more time(s)...
sleep 3 seconds and retrying https://data.alpaca.markets/v2/stocks/QQQ/bars 3 more time(s)...

,close,high,low,trade_count,open,volume,vwap
timestamp,,,,,,,
2021-01-21 09:00:00+00:00,325.28,325.28,325.28,9,325.28,402,325.306219
2021-01-21 09:01:00+00:00,325.50,325.53,325.46,15,325.46,1326,325.493997
2021-01-21 09:02:00+00:00,325.52,325.60,325.51,35,325.54,4958,325.535841
2021-01-21 09:03:00+00:00,325.60,325.60,325.51,8,325.51,1139,325.584267
2021-01-21 09:04:00+00:00,325.51,325.55,325.51,4,325.55,219,325.529726

,close,high,low,trade_count,open,volume,vwap
timestamp,,,,,,,
2023-01-20 22:50:00+00:00,282.7200,282.7200,282.7200,16,282.7200,497,282.721831
2023-01-20 22:54:00+00:00,282.7000,282.7000,282.7000,13,282.7000,678,282.700147
2023-01-20 22:56:00+00:00,282.7500,282.7500,282.7500,8,282.7500,247,282.730243
2023-01-20 22:58:00+00:00,282.7499,282.7499,282.7499,17,282.7499,604,282.747997
2023-01-20 22:59:00+00:00,282.7500,282.7500,282.7500,71,282.7500,1398,282.747697

In [14]:
#dropping trade_count and vwap column
updated_ticker_data = ticker_data.drop(columns=['trade_count', 'vwap'])

#checking results
updated_ticker_data

                 close      high       low      open  volume
18648.375000  325.2800  325.2800  325.2800  325.2800     402
18648.375694  325.5000  325.5300  325.4600  325.4600    1326
18648.376389  325.5200  325.6000  325.5100  325.5400    4958
18648.377083  325.6000  325.6000  325.5100  325.5100    1139
18648.377778  325.5100  325.5500  325.5100  325.5500     219
...                ...       ...       ...       ...     ...
19377.951389  282.7200  282.7200  282.7200  282.7200     497
19377.954167  282.7000  282.7000  282.7000  282.7000     678
19377.955556  282.7500  282.7500  282.7500  282.7500     247
19377.956944  282.7499  282.7499  282.7499  282.7499     604
19377.957639  282.7500  282.7500  282.7500  282.7500    1398

[420311 rows x 5 columns]